body{
    margin: 0;
}

body::before{
    background: #333;
    opacity: 0.8;
    content: "";
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;
    top: 0px;
    position: absolute;
}

.score{
    border: 3px solid black;
    background-color: white;
    width: 25%;
    margin: 5px auto;
    margin-top: 10px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(188, 188, 245);
}
#b1{
    font-size: 25px;
}
#b2{
    font-size: 25px;
    margin-left: 5px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
#game-board{
    margin: 4px 0;
    background-color: white;
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-rows: repeat(21,1fr);
    grid-template-columns: repeat(21,1fr);
    border: 4px solid black;
    z-index: 50;
}
.snake{
    background-color: blue;
    border: .25vmin solid black;
}
.food{
    background-color: rgb(241, 121, 145);
    border: .25vmin solid black;
}

.item{
    display: none;
}
.section{
    height: 40%;
    width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4px;
}
.box{
    visibility: hidden;
    border: 2px solid red;
    border-radius: 4px;
}
#box2{
    visibility: visible;
    background: center/cover no-repeat url('/static/snake/photo/up.jpg');
}
#box8{
    visibility: visible;
    background: center/cover no-repeat url('/static/snake/photo/down.jpg');
}
#box4{
    visibility: visible;
    background: center/cover no-repeat url('/static/snake/photo/left.jpg');
}
#box6{
    visibility: visible;
    background: center/cover no-repeat url('/static/snake/photo/right.jpg');
}

.winning{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 50%;
    background-color: white;
    color: black;
    border-radius: 6px;
}
#gameOver{
    position: relative;
    font-size: 90px;
    bottom: 20px;
}
#text{
    position: relative;
    bottom: 15px;
    font-size: 60px;
}
#playAgain{
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 6px 28px;
    background-color: rgb(64, 64, 255);
    border: none;
    color: white;
    border-radius: 4px;
}
#playAgain:hover{
    opacity: .9;
}

#levelSection{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
#levelContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50%;
    height: 60%;
    border-radius: 6px;
}
#level{
    display: flex;
    flex-direction: row;
    margin-right: 6px;
    width: 60%;
}
#chooseLevel{
    font-size: 90px;
    font-weight: 600;
}
#playBtn{
    font-size: 1.5rem;
    cursor: pointer;
    padding: 6px 35px;
    background-color: rgb(64, 64, 255);
    border: none;
    color: white;
    border-radius: 4px;
}
#playBtn:hover{
    opacity: 0.9;
}
#inputRange{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    margin-top: 3rem;
}
@media screen and (max-width: 600px) {
    .item{
        display: block;
    }
    #game-board{
        width: 80%;
    }
    #levelContainer{
        width: 70%;
        height: 50%;
    }
    #chooseLevel{
        font-size: 20px;
        font-weight: 600;
    }
    body::before{
        background: #333;
        height: 100%;
        margin: 0;
        z-index: -1;
        top: 0px;
        position: fixed;
    }
    .section1{
        width: 70%;
        height: 50%;
    }
    #gameOver{
        font-size: 30px;
        position: relative;
        bottom: 30px;
    }
    #text{
        font-size: 22px;
        position: relative;
        bottom: 20px;
    }
    #b1{
        font-size: 20px;
    }
    #b2{
        font-size: 20px;
    }
    .section{
        margin: 5px auto;
    }
    #score{
        width: 40%;
    }
}