//- layout.pug
doctype html
html
  head
    title Snake
    block scripts
    block style
  body
    nav#navbar.top
        ul
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/contact") Contact Us]
            li #[a(href="/help") Help]
            
    block content

    footer#footer
        | Copyright 2021 My Snake Game | All Rights Reserved