//- layout.pug
doctype html
html
  head
    title
    block scripts
    block style
  body
    block nav
            
    block content

    footer#footer
        | Copyright 2021 My Snake Game | All Rights Reserved