extends base.pug

block scripts
    script(src="/static/game-phone.js" defer type = "module")

block style
    style
        include ../static/style-phone.css

block content
    div.score 
        div#b1 Score : 
        div#b2
    div.container
        div#game-board
    div.item
        div.section
            div#box1.box
            div#box2.box
            div#box3.box
            div#box4.box
            div#box5.box
            div#box6.box
            div#box7.box
            div#box8.box
            div#box9.box