extends base.pug

block scripts
    script(src="/static/game-phone.js" defer type = "module")

block style
    style
        include ../static/style-phone.css

block content
    div.score 
        div#b1 Score : 
        div#b2
    div.container
        div#game-board
    div.section1 
        div#box1.box
    div.section2
        div#box2.box
        div#box3.box
    div.section3 
        div#box4.box