<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/stylehome.css">
    <script src="/static/home.js"></script>
</head>
<body>
    <nav id="navbar" class="top">
        <a href="/">Home</a>
        <a href="/snake">Snake</a>
        <a href="/tictactoe">Tic-Tac-Toe</a>
        <a href="/help">Help</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    div#container
    h1 Welcome to My Game
    div.section
        div#snake
            h2 Snake
            a(href="/snake") Play
        div#tictactoe 
            h2 Tic Tac Toe
            a(href="/tictactoe") Play
    div#footer Copyright 2021 - My Game | All Rights Reserved
</body>
</html>