doctype html
html
    head
        title Snake
        script(src="/static/snake/js/game.js" defer type = "module")
        style
            include ../static/snake/css/style.css

    body
        div.score#score
            div#b1 Score : 
            div#b2
        div.container#container
            div#game-board
        div.item#item
            div.section
                div#box1.box
                div#box2.box
                div#box3.box
                div#box4.box
                div#box5.box
                div#box6.box
                div#box7.box
                div#box8.box
                div#box9.box
        div.winning#winning 
            div.section1
                div Game Over
                div#text
                div #[a(href="/snake") Play Again]
        div#levelSection
            div Choose Level
            input(type="range", name="", id="level")
            button#playBtn Play