html
    head
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        title Snake
        script(src="/static/snake/js/game.js" defer type = "module")
        link(rel="stylesheet", href="/static/snake/css/style.css")

    body
        div.score#score
            div#b1 Score : 
            div#b2
        div.container#container
            div#game-board
        div.item#item
            div.section
                div#box1.box
                div#box2.box
                div#box3.box
                div#box4.box
                div#box5.box
                div#box6.box
                div#box7.box
                div#box8.box
                div#box9.box
        div.winning#winning
            div.section1
                div#gameOver Game Over
                div#text Score
                div #[a(href="/snake", id="playAgain") Play Again]
        div#levelSection
            div#levelContainer 
                div#chooseLevel Choose Level
                div#inputRange
                    input(type="range", name="", id="level",min="1", max="10")
                    div#getLevel
                button#playBtn Play